@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-lato), sans-serif;
  color: #475569;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins), sans-serif;
  color: #0F172A;
}
